@use "foundation";

.startInvestingButton {
  background-color: foundation.$dark-grey-secondary;
  border-radius: 5px;
  padding: 5px 31px;
  //display: inline-block;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  margin-top: 25%;
  margin-bottom: 25%;
}
.startInvestingButton:hover {
  background-color: foundation.$dark-grey-secondary-hover;
}
.startInvestingButton:active {
  position:relative;
  top:1px;
}

.startInvestingText {
  @include foundation.roboto-normal-regular;
  color: foundation.$white-pure;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}